---
import Layout from "../../layouts/Layout.astro";
import WritingsPreview from "../../components/WritingsPreview.astro";
import { getExternalPosts } from "../../lib/rss";

const posts = await getExternalPosts(12);
---

<Layout title="Writing - Pavan Kumar">
  <div class="pt-16">
    <WritingsPreview posts={posts} />
  </div>
</Layout>
