@font-face {
  font-family: "CanelaDeck";
  src: url("../fonts/CanelaDeck-Black-Trial.otf");
  font-weight: 900;
}

@font-face {
  font-family: "CanelaDeck";
  src: url("../fonts/CanelaDeck-Bold-Trial.otf");
  font-weight: 800;
}

@font-face {
  font-family: "CanelaDeck";
  src: url("../fonts/CanelaDeck-Medium-Trial.otf");
  font-weight: 700;
}

@font-face {
  font-family: "CanelaDeck";
  src: url("../fonts/CanelaDeck-Regular-Trial.otf");
  font-weight: 500;
}

@font-face {
  font-family: "CanelaDeck";
  src: url("../fonts/CanelaDeck-Light-Trial.otf");
  font-weight: 400;
}

@font-face {
  font-family: "CanelaDeck";
  src: url("../fonts/CanelaDeck-Thin-Trial.otf");
  font-weight: 300;
}
