@import url(./variables.scss);

footer {
  background-color: var(--background-secondary-color);
  .footer__container {
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.4rem;

    .links {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      h3 {
        color: var(--primary-color);
        margin-bottom: 0.3rem;
      }

      a {
        color: white;
        font-weight: 300;
        font-size: 14px;
        width: fit-content;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  footer {
    border-radius: 20px 20px 0 0;
    margin-top: 2rem;
    .footer__container {
      padding: 3rem;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
  }
}

@media (min-width: 1024px) {
  footer {
    border-radius: 20px 20px 0 0;
    margin-top: 2rem;
  }
  .footer__container {
    padding: 3rem;
  }
}
