* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --backgroud-primary-color: #0d1018;
  --background-secondary-color: #282a36;
  --primary-color: #ffcd4b;
  --text-color: #a0aec0;
  --heading-color: #fff;
  --font-family-heading: "CanelaDeck";
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1500;
  --fluid-min-size: 17;
  --fluid-max-size: 20;
  --fluid-min-ratio: 1.2;
  --fluid-max-ratio: 1.33;
}

:root {
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) /
      ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16))
  );
}

@media screen and (min-width: 1500px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);

  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);

  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 16;
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 16;

  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;

  --fluid-0: calc(
    (
      (var(--fluid-min-size-0) * 1rem) +
        (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)
    )
  );
  --fluid-1: calc(
    (
      (var(--fluid-min-size-1) * 1rem) +
        (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)
    )
  );
  --fluid-2: calc(
    (
      (var(--fluid-min-size-2) * 1rem) +
        (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)
    )
  );
}

body {
  background-color: var(--backgroud-primary-color) !important;
  color: var(--heading-color) !important;
  font-family: "Lato" !important;
  font-size: var(--fluid-0) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading) !important;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: 1px dashed transparent;
  transition: all 0.2s linear;
  &:hover {
    border-bottom: 1px dashed var(--primary-color);
  }
}

.container {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

.loadmore_btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  a {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
}

.sm-hidden {
  display: none;
}

@media (min-width: 768px) {
  .container {
    max-width: 680px;
  }
}

@media (min-width: 1024px) {
  .sm-hidden {
    display: block;
  }
  .lg-hidden {
    display: none;
  }
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 1800px;
  }
}
