@import url("./variables.scss");

.title-1 {
  font-size: 28px;
  font-weight: 900;
}

.title-2 {
  font-size: 20px;
}

.title-3 {
  font-size: 16px;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 800;
}

.font-medium {
  font-weight: 700;
}

.font-regular {
  font-weight: 500;
}

.font-light {
  font-weight: 400;
}

.font-thin {
  font-weight: 300;
}

.text-primary {
  color: var(--primary-color);
}

.letter-spacing-2 {
  letter-spacing: 0.02em;
}

.letter-spacing-3 {
  letter-spacing: 0.2em;
}
.line-height-1 {
  line-height: 1.4;
}

.line-height-2 {
  line-height: 1.5;
}

.font-lato {
  font-family: "Lato" !important;
}

.text-white {
  color: #fff;
}

@media (min-width: 768px) {
  .title-1 {
    font-size: 28px;
  }

  .title-2 {
    font-size: 20px;
  }

  .title-3 {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .title-1 {
    font-size: 32px;
  }
}

@media (min-width: 1280px) {
  .title-1 {
    font-size: 34px;
  }
}

@media (min-width: 1536px) {
  .title-1 {
    font-size: 50px;
  }

  .title-2 {
    font-size: 30px;
  }

  .title-3 {
    font-size: 24px;
  }
}

@media (min-width: 2560px) {
  .title-1 {
    font-size: 60px;
  }

  .title-3 {
    font-size: 26px;
  }
}
