:root {
  --backgroud-primary-color: #0d1018;
  --background-secondary-color: #282a36;
  --primary-color: #ffcd4b;
  --text-color: #a0aec0;
  --heading-color: #fff;
  --font-family-heading: "CanelaDeck";
}
