:root {
  --backgroud-primary-color: #0d1018;
  --background-secondary-color: #282a36;
  --primary-color: #ffcd4b;
  --primary-color-900: #1d1100;
  --text-color: #a0aec0;
  --heading-color: #fff;
  --font-family-heading: "CanelaDeck";
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
