@import url("./variables.scss");

.works__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.works__heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.works__deck {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  .blog__item {
    background-color: var(--background-secondary-color);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }

    .blog__body {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      p {
        color: #a0aec0;
        line-height: 18px;
        font-weight: 400;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .blog__footer {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      line-height: 17px;
      color: #a0aec0;

      .blog__links {
        display: flex;
        gap: 0.5rem;
        a {
          font-size: 16px;
          font-weight: 300;
          display: flex;
          align-items: flex-end;
          gap: 4px;
          cursor: pointer;
        }
      }

      small {
        padding: 1px 5px;
        border-radius: 3px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.1em;
      }

      .opensource {
        border: 1px solid #feebcb;
        background-color: #feebcb;
        color: #744210;
      }

      .freelance {
        border: 1px solid #e9d8fd;
        background-color: #e9d8fd;
        color: #44337a;
      }

      .SideProject {
        border: 1px solid #bee3f8;
        background-color: #bee3f8;
        color: #2a4365;
      }
    }
  }
}

@media (min-width: 768px) {
  .works__deck {
    grid-template-columns: 1fr 1fr;

    .blog__item {
      &:nth-child(3),
      &:nth-child(4) {
        display: flex;
      }
    }
  }
}
