@import url("./variables.scss");

.writing__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.writing__heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.writing__deck {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  .blog__item {
    background-color: var(--background-secondary-color);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }
    .blog__body {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
      p {
        color: #a0aec0;
        line-height: 16px;
        font-weight: 400;
      }
    }

    .blog__footer {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      font-weight: 600;
      line-height: 17px;
      color: #a0aec0;

      a {
        font-size: 14px;
        font-weight: 300;
        display: flex;
        align-items: flex-end;
        gap: 4px;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 768px) {
  .writing__deck {
    grid-template-columns: 1fr 1fr;

    .blog__item {
      &:nth-child(3),
      &:nth-child(4) {
        display: flex;
      }
    }
  }
}
