---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";

import "../styles/global.scss";
import "../styles/fonts.css";
import "../styles/typography.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <title>Astro</title>
  </head>
  <body>
    <Navbar />
    <main class="container">
      <Hero />
    </main>
  </body>
</html>
