---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection';
import SkillsSection from '../components/SkillsSection';
import ExperienceSection from '../components/ExperienceSection';
import WritingsPreview from '../components/WritingsPreview';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const postsMeta = posts.map((p) => ({ id: p.id, ...p.data }));
---

<Layout title="Pavan Kumar - Full Stack & Web3 Developer">
  <div class="pb-12" transition:animate="fade">
    <HeroSection client:load />
    <div class="mt-20 md:mt-32">
      <SkillsSection client:visible />
    </div>
    <div class="mt-20 md:mt-32">
      <ExperienceSection client:visible />
    </div>
    <div class="mt-20 md:mt-32">
      <WritingsPreview posts={postsMeta} client:visible />
    </div>
  </div>
</Layout>
