---
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import SkillSet from "../components/SkillSet.astro";
import Writings from "../components/Writings.astro";
import Works from "../components/Works.astro";
import Learnings from "../components/Learnings.astro";
import Books from "../components/Books.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.scss";
import "../styles/fonts.css";
import "../styles/typography.scss";
import "../styles/home.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />

    <title>Astro</title>
  </head>
  <body>
    <Navbar />
    <main class="container">
      <Hero />
      <div class="lg-hidden">
        <SkillSet />
        <Writings />
        <Works />
        <div class="learning_books_section">
          <Learnings />
          <Books />
        </div>
      </div>

      <div class="sm-hidden deck">
        <div>
          <Writings />
          <Works />
        </div>
        <div>
          <SkillSet />
          <Learnings />
          <Books />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
