---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection';
import SkillsSection from '../components/SkillsSection';
import ExperienceSection from '../components/ExperienceSection';
import WritingsPreview from '../components/WritingsPreview';
---

<Layout title="Pavan Kumar - Full Stack & Web3 Developer">
  <div class="space-y-24 pb-12" transition:animate="fade">
    <HeroSection client:load />
    <SkillsSection client:visible />
    <ExperienceSection client:visible />
    <WritingsPreview client:visible />
  </div>
</Layout>
