---
import SocialGrid from "../components/SocialGridIcons";
import "../styles/footer.scss";
---

<footer>
  <div class="container footer__container">
    <div class="links">
      <h3>Important Links</h3>
      <a>YouTube Channel</a>
      <a>Join My Developer Community</a>
      <a>Build Open Source Projects</a>
    </div>
    <div>
      <h1>Let's Connect</h1>
      <SocialGrid />
    </div>
  </div>
</footer>
