---
import SocialGrid from "../components/SocialGridIcons";
import "../styles/hero.scss";
---

<div class="container hero__container">
  <h1 class="title-1 font-light letter-spacing-2 line-height-1 w-xl-75">
    <span class="font-bold text-primary">Pavan</span> crafts applications with the
    MERN Stack, while also venturing into Cloud and Blockchain technologies.
  </h1>
  <h2 class="title-2 font-lato font-regular line-height-2 letter-spacing-2">
    Currently Leading Product Development at <a
      href="https://www.nonceblox.com/"
      target="_blank">NonceBlox</a
    >
  </h2>
  <h3 class="title-3 font-lato font-regular letter-spacing-2">
    Check out my <a href="https://github.com/pavankpdev" target="_blank"
      >Opensource work</a
    >
  </h3>
  <SocialGrid />
</div>
