---
---

<div class="container w-lg-50">
  <h1 class="title-1 font-light letter-spacing-2 line-height-1">
    <span class="font-bold text-primary">Pavan</span> crafts applications with the
    MERN Stack, while also venturing into Cloud and Blockchain technologies.
  </h1>
  <h2 class="title-2 font-lato font-regular">
    Currently Leading Product Development at <a href="#">NonceBlox</a>
  </h2>
  <h3 class="title-3 font-lato font-regular">
    Check out my <a href="#">Opensource work</a>
  </h3>
</div>
