---
import "../styles/learning.scss";
import { lessons } from "../data/index";
---

<div class="container learning__container">
  <div class="learning__heading">
    <h2 class="heading-1">What Am I Learning?</h2>
    <p class="text-paragraph font-thin">
      List of things I’m learning, thought I’d share this.
    </p>
  </div>
  <div class="learning__deck">
    {
      lessons.map((l) => (
        <div class="lesson">
          <h4 class="font-lato">{l.lesson}</h4>
          <p
            class={
              l.onGoing ? "badge paragraph-2" : "badge badge_queued paragraph-2"
            }
          >
            {l.onGoing ? "On Going" : "Queued"}
          </p>
        </div>
      ))
    }
  </div>
</div>
