---
import "../styles/navbar.scss";
---

<nav class="navbar">
  <div class="container">
    <div class="nav__logo__container">
      <a href="#"><h1 class="title-1 letter-spacing-3 text-white">KP</h1></a>
    </div>
  </div>
</nav>
