---
import axios from "axios";
import { BsArrowRight } from "react-icons/bs/index";
import "../styles/writing.scss";
import { writings } from "../data/index";
import { getBlogs } from "../helpers/getBlogsViaRss";

const blogs = await getBlogs();

---

<div class="container writing__container">
  <div class="writing__heading">
    <h2 class="heading-1">My Writings</h2>
    <p class="text-paragraph font-thin">
      Exploring the world of technology through engaging and insightful
      writings.
    </p>
  </div>
  <div class="writing__deck">
    {
      blogs &&
      blogs.items?.slice(0, 4).map((blog: any) => {
          return (
            <div class="blog__item">
              <div class="blog__body">
                <h2 class="title-2 font-light">{blog?.title}</h2>
              </div>
              <div class="blog__footer">
                <a href={blog.link} target="_blank">
                  Read More <BsArrowRight />
                </a>
              </div>
            </div>
          );
        })
    }
  </div>
  <div class="loadmore_btn">
    <a href="https://blogs.pavankp.dev/" target="_blank">
      Load More <BsArrowRight />
    </a>
  </div>
</div>
